
<link rel="stylesheet" href="/css/center.css"> <!-- CSS 파일을 연결 -->
<!-- using google font -->
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Edu+TAS+Beginner:wght@400..700&family=Gowun+Dodum&family=Julius+Sans+One&family=Sunflower:wght@300&display=swap" rel="stylesheet">

<!-- 타이틀 / 이미지 슬라이드  -->
<div class="top">
  <h1 class="top-heading">M B T I</h1><br>
</div>

<div class="slider">
  <div class="slide"></div>
  <div class="slide"></div>
  <div class="slide"></div>
  
</div>

<!--게시물 -->
<section class="articles">

  <div class="content">"요즘 트렌드이며 사회를 살아가는데 사람들의 성향을 쉽게
    알아가는데 유용하다 생각하였으며 MBTI의 16개의 유형의 각 성향과 유형별 및
    인간관계 궁합, 연애 궁합 등의 특징을 MBTI로 표현 해보고자 하여 제작하게 됨"
  </div>

</section>



<!--index.ejs-->
