<link rel="stylesheet" href="/css/footer.css">

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Us</h2>
            <p>MBTI 유형별 소개를 위한 사이트 제작</p>
        </div>

        <div class="footer-section links">
            <h2>Links</h2>
            <ul>
                <li><a href="/home/login">Home</a></li>
                <!-- <li><a href="/allPosts">List</a></li> -->
                <li>Services</li>
                <li>Contact</li>
            </ul>
        </div>
        
        <div class="footer-section contact">
            <h2>Contact</h2>
            <p>김철민 / 신현동</p>
            <p>Phone: 010-1234-5678</p>
        </div>
    </div>
    <div class="footer-bottom">
      All Rights Reserved. 2024 MBTI
    </div>
  </footer>